<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Game Spot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/group"><i class="far fa-folder-open"></i> Game Categories (Groups)</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!userIsLogged" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signUp"><i class="fas fa-edit"></i> Sign Up</a></li>
      <li *ngIf="!userIsLogged" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signIn"><i class="fas fa-sign-in-alt"></i> Login</a></li>
      <li *ngIf="userIsLogged" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/settings"><i class="fas fa-cogs"></i> Settings</a></li>
      <li *ngIf="userIsLogged" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signOut"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
  </div>
</nav>
