<div class="container group-details">

  <div class="row">
    <div class="col-md-3">
      <img class="img-responsive" style="max-height:300px" src="{{group.imagePath}}" alt="">
    </div>
    <div class="col-md-9">
      <h1 class="group-details__title">{{group.title}}</h1>
      <div class="group-details__likes">
        {{group.likes}}
      </div>
      <div class="group-details__desc">
        <p>
          {{group.description}}
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <app-posts-list [index]="id"></app-posts-list>
    </div>
  </div>
</div>


