<div class="container">
  <div class="row">
    <div class="col-sx-12">
      <img class="img-responsive" style="max-height:300px" src="{{group.imagePath}}" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{group.title}}</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      Group description: {{group.description}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <h2>Posts: </h2>
        <span *ngIf="group.posts.value === undefined">There is no posts here yet</span>
        <li class="list-group-item" *ngFor="let post of group.posts.value">{{post.title}}</li>
      </ul>
    </div>
  </div>
</div>


